Hi there, 

Someone asked for a password reset for the email address {{email}}.
Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} 

Incase you forgot your Django Boards username: {{ user.username }}

If clicking the link above dosent work, please copy and paste the URL in a new browser window instead.

If you have recieved this mail in error, it is likely that another user enteredyour email address by mistake while trying to reset a password. If you didn't initiate the request, you don't need to takeany further action and you can safely disregard this email.

Thanks,

The Django Board Team.